/* Base styles for larger screens */
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contact-form {
  width: 80%;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
}

.form-image {
  flex: 1;
  margin-right: 20px;
}

.form-image img {
  width: 100%;
  height: 70%;
  border-radius: 5px;
}

.form-partition {
  width: 88%;
}

.form-group {
  margin-bottom: 20px;
}

.user {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.button {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

span {
  color: green;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 768px) {
  .contact-form {
    flex-direction: column;
    align-items: center;
  }

  .form-image {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .form-image img {
    height: auto;
  }

  .form-partition {
    width: 100%;
  }
}
