.text-small {
  font-size: 0.9rem;
}

a {
  color: #0e0d0d;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover, a:focus {
  text-decoration: none;
}

.form-control {
  background: #e8eaec;
  border-color: #fcf8f8;
}

.form-control:focus {
  background: #212529;
}

footer {
  background: #edeff1;
}

.text-white{
  color:#141313;
}
.small{
  color:#141313;
}
/* ==========================================
    CUSTOM UTILS CLASSES
  ========================================== */
  body, html {
    height: 100%;
  }